@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}
	
	.container {
		width: 45em;
		padding: 6em 0 4em 0;
	}

	@media screen and (max-width: 1680px) {

		.container {
			width: 45em;
		}

	}

	@media screen and (max-width: 1280px) {

		.container {
			width: 42em;
		}

	}

	@media screen and (max-width: 1024px) {

		.container {
			width: 85% !important;
		}

	}

	@media screen and (max-width: 736px) {

		.container {
			width: 90% !important;
		}

	}

	@media screen and (max-width: 480px) {

		.container {
			width: 90% !important;
		}

	}

/* Basic */

	body {
		background: #fff;
		color: #888;
		font-family: "Lato", sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		/*border-bottom: solid 1px #e4e4e4;*/
		color: inherit;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
			color: #4acaa8 !important;
		}

	p {
		margin: 0 0 2.25em 0;
	}

	h1, h2{
		color: #777;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 0.5625em 0;
	}

		h1 a, h2 a {
			border: 0;
			color: inherit;
			text-decoration: none;
		}

	h2 {
		line-height: 1.5em;
		font-size: 1.1em;
	}

	hr {
		border: 0;
		border-bottom: solid 2px #f4f4f4;
		margin: 2.25em 0;
	}

/* Section/Article */

	header p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.6875em 0;
	}

	header h1 {
		color: #4acaa8;
		font-size: 3.5em;
	}

		header h1 + p {
			color: #777;
			font-size: 1.75em;
			font-weight: 700;
			margin-top: -0.75em;
			line-height: 1.5em;
			margin: 0 0 1.6875em 0;
		}
	
	header h2 + p {
		font-size: 0.9em;
		margin-top: -0.25em;
		line-height: 1.5em;
	}

/* Image */
			
	article .image {
		display: inline-block;
		padding-right: 2.5em;
		vertical-align: middle;
		width: 48%;
	}

		article .image img {
			display: block;
			width: 100%;
		}

/* List */
	ul {
		list-style: disc;
		margin: 0 0 2.25em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}


/* Articles */

	article {
		border-top: solid 3px #f4f4f4;
		margin-bottom: 2.25em;
		padding-top: 2.25em;
	}

		article:first-child {
			border-top: 0;
			padding-top: 0;
		}

		article .image {
			display: inline-block;
			padding-right: 2.5em;
			vertical-align: middle;
			width: 38%;
		}

			article .image img {
				display: block;
				width: 100%;
			}

		article .text {
			display: inline-block;
			vertical-align: middle;
			width: 60%;
		}

			article .text > :last-child {
				margin-bottom: 0;
			}

/* Footer */

	#footer {
		background: #fafafa;
		border-top: 0;
		color: #c0c0c0;
		overflow: hidden;
		padding: 4em 0 2em 0;
		text-align: center;
	}

		#footer .copyright {
			line-height: 1em;
			list-style: none;
			padding: 0;
		}

			#footer .copyright li {
				border-left: solid 1px #d4d4d4;
				display: inline-block;
				font-size: 0.8em;
				margin-left: 1em;
				padding-left: 1em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

				#footer .copyright li a {
					color: inherit;
				}

/* XLarge */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body {
				font-size: 13pt;
			}

		/* Header */
		
				header {
					padding: 0.5em 0;
				}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body{
				font-size: 11pt;
			}

	}

/* Medium */

	@media screen and (max-width: 1024px) {

		/* Basic */

			body {
				font-size: 12pt;
			}

		/* Image */

			.image {
				max-width: 40%;
			}

				.image img, .image img {
					width: 100%;
				}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			body {
				font-size: 12pt;
			}

			header h1{
				font-size: 2.5em;
			}
			
			header h1 + p {
					font-size: 1.25em;
				}

			h2 {
				font-size: 1.25em;
			}


		/* Article & Image */

			article .image {
				display: block;
				margin: 0 0 2.25em 0;
				padding-right: 0;
				width: 100%;
			}
			
			.image {
				max-width: 100%;
			}

			article .text {
				display: block;
				width: 100%;
			}

		/* Footer */

			#footer {
				text-align: center;
			}

				#footer .copyright li {
					border-left: 0;
					display: block;
					line-height: 1.75em;
					margin: 0.75em 0 0 0;
					padding-left: 0;
				}

					#footer .copyright li:first-child {
						margin-top: 0;
					}
	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* Basic */

			html, body {
				min-width: 320px;
			}

			body {
				font-size: 12pt;
			}
	}